<div class='col-sm-4'>

	<!-- panel -->
	<div class="panel panel-default">
	 	
	 	<!-- title of the post -->
	 	<div class="panel-heading">
    	<h3 class="panel-title"><%= post.title %></h3>
  	</div>

  	<!-- body -->
  	<div class="panel-body">
	  	<!-- image only if present -->
	    <p>
			<% if post.image.present? %>	
				<%= image_tag post.image.url(:thumb), class: 'uploaded-pic' %>
			<% end %>
			</p>

			<!-- description -->
			<p>
				<%= post.body %>
			</p>

			<!-- tags -->
			<p>
				<% post.tags.each do |tag| %>
					<%= link_to tag.name, tag_path(tag) %>
				<% end %>
			</p>

			<!-- map link showing only if present -->
			<% unless post.address.blank? %>
				<p>
					<%= link_to 'Map', post_map_path(post), class: 'btn btn-info' %>
			<% end %>

			<!-- payment -->
				<%= link_to 'Buy', new_post_charge_path(post), class: 'btn btn-warning' %>
			</p>

  	</div>

	  	<!-- creator of the post -->
  	<div class='panel-footer'>
			Posted by: <%= post.user.email %>
		</div>
	</div>
	<!-- end panel -->

</div>