<%= form_for @post, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.label :image %>
		<%= f.file_field :image %>
	</p>

	<p>
		<%= f.label :tag_names, 'Tags' %>
		<%= f.text_field :tag_names %>
	</p>

	<p><%= f.submit 'Post' %></p>
<% end %>